div#background
{
	background-color:#E5AE96;
	font-family: 'Merriweather Sans',sans-serif;
}

h1#motivation
{
	text-align:center;
	 font-size: 400%;
}

p.text
{
	text-align: center;
	 font-size:150%;
}
div#mission{
	text-align: center;
	background-color:rgba(32, 35, 41, 0.9);
	color:#ddd;
	font-family: 'Merriweather Sans',sans-serif;

}